.dashboard {
    flex: 1; /* Fill remaining horizontal space */
    height: 70%; /* Take full height of the parent */
    padding: 20px;
    margin-top: 100px;
    overflow-y: auto; /* Prevent overflow issues */
}

.chart-container {
    height: 90%; /* Make the chart take up all available height */
}



.go-back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* Center the button horizontally */
    transition: background-color 0.3s ease;
}

.go-back-button:hover {
    background-color: #0056b3;
}
